* {
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url('assets/backgroundImage.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9CDBEF;
    text-align: center;
}